.form
{
    background-color: lightgrey;
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

.form_password
{
    background-color: #CAE1FF;
    border: 1px solid black;
    padding: 20px;
    margin: 2%;
    margin-left: 35%;
    margin-right: 35%;
}

.admin
{
    padding: 20px;
    margin-left: 10%;
}
.reset_form
{
    padding-left: 500px; 
}

.error
{
    color: red;
    font-size: 15px;
}

.error_login
{
    margin-left: 9%;
}

.admin_record_manipulation
{
    display: block;
    padding: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid black;
}
.form_admin_privilege
{
    padding: 2%;
    margin-left: 30%;
    margin-right: 30%;
}
.privilege_display
{
    font-size: 120%;
    text-transform: capitalize;
}

.jumbotron_admin_privilege
{
   background-size: 2px 1px;
}